<div class="container">
  <h2 style="width: 240px;background-color: #EEEEEE; text-align: center">ログイン</h2>

  <h4 style="width: 400px;background-color: #EEEEEE; text-align: center; margin-top: 50px;">会員の方はこちらからログイン</h4><br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-sm-2 px-sm-0 offset-sm-1"><%= f.label "メールアドレス" %></div>
        <div class="col-sm-3 px-sm-0"><%= f.email_field :email,:size => "40", autofocus: true, autocomplete: "email" %></div>
      </div><br>

      <div class="row">
        <div class="col-sm-2 px-sm-0 offset-sm-1"><%= f.label "パスワード" %></div>
        <div class="col-sm-3 px-sm-0"><%= f.password_field :password,:size => "40", autocomplete: "current-password" %></div>
      </div><br>

      <div class="row">
        <div class="col-sm-2 px-sm-0 offset-sm-3"><%= f.submit "ログイン", class: "btn btn-primary px-4 mt-3 mb-5" %></div>
      </div>
    <% end %>

      <h4 style="width: 300px; background-color: #EEEEEE; text-align: center; margin-top: 20px;">会員登録がお済みでない方</h4>
      <p><%= link_to "こちら", "/customers/sign_up" %>から新規登録をしてください。</p><br>
</div>

